<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.aquamentis.nwsr"
   android:versionCode="4"
   android:versionName="0.3.0">
  <application
     android:label="@string/app_name"
     android:icon="@drawable/ic_launcher">
    <activity
       android:name=".Headlines"
       android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
       android:name=".NewsFeeds"
       android:label="@string/title_feeds">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.xml" />
        <data android:pathPattern=".*\\.rss" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:mimeType="text/xml" />
        <data android:mimeType="application/rss+xml" />
        <data android:mimeType="application/atom+xml" />
        <data android:mimeType="application/xml" />
      </intent-filter>
    </activity>
    <activity
       android:name=".Settings"
       android:label="@string/title_preferences"
       />
    <activity
       android:name=".License"
       android:label="@string/title_license"
       />
    <activity
       android:name=".SavedItems"
       android:label="@string/title_saved"
       />
    <service
       android:name=".RefreshService"
       />
    <service
       android:name=".TrainingService"
       />
    <receiver
       android:name=".BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-sdk
     android:minSdkVersion="7"
     android:targetSdkVersion="7"
     />
</manifest>
